<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  This is an unofficial website for Swarthmore students to freely discuss about their experiences with courses offered at Swarthmore College. Share what you think about the courses you have taken at Swat, at hear what others think about it. Please direct all questions regarding this website to info@swatclassrec.com 

</p>