<div class="center hero-unit">
  <h1>Welcome to Swat ClassRecBook</h1>

  <h2>
    This is a website for Swarthmore students to evaluate and discuss about class offered at Swarthmore College. Share your experiences with Swarthmore courses, and find out what other Swatties are thinking about them. 
  </h2>
  
  <%= link_to "Sign up now!", signup_path%>
</div>

