<div class="center hero-unit">
  <h1>Welcome to the Swarthmore Course Evaluation</h1>

  <h2>
    Share your thoughts about Swarthmore courses. 
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("Swarthmore_College_Logo.png", alt: "Swarthmore"), 'http://www.swarthmore.edu/', class: "swat_logo" %>